body{
    background-color: rgb(11, 11, 75);
    font-family: Arial, Helvetica, sans-serif;
}
header h1{
    color: rgb(170, 16, 16);
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-weight: bold;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
}
header ul{
    display:flex;
    gap: 50px;

}
ul li{
    list-style: none;
}
li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
main{
    margin-top: 200px;
}
main h4{
    color: rgb(170, 16, 16);
    font-weight: bold;
    padding: 0px 100px;
    border-left: 5px solid rgb(170, 16, 16);
    border-right: 5px solid rgb(170, 16, 16);

}
main h1{
    padding: 0px 100px;
    color: white;
    border-left: 5px solid white;
    border-right: 5px solid white;

}
main p{
    color: white;
    padding: 0px 100px;
    border-left: 5px solid white;
    border-right: 5px solid white;

}