html{
    --color-100:grey;
    --color-200:black;
    --color-300:darkgray;
    --color-400:white;
}
body{
    background-color: var(--color-200);
}
header{
    display: flex;
    align-items: center;
    padding: 0px 10px;
    position: absolute;
    justify-content: space-between;
}
header a{
    color: var(--color-400);
}
header h4{
    color: var(--color-400);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
     margin: 10px;

}
nav li{
    list-style: none;
    color: var(--color-400);
    font-family: Arial, Helvetica, sans-serif;
}